@media (min-width: 1281px) {

  main {
    width: 100.8rem;
    height: 60.6rem;
    flex-direction: row;
    background-color: var(--white-main);
  }

  .form__container {
    width: 50%;
    height: 100%;
  }

  .results__container {
    width: 50%;
    border-radius: 0 0 0 10rem;
    overflow: hidden;
  }

  .results__container .results__empty {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  .results__container .results__filled {
    height: 100%;
    padding: 4rem;
    justify-content: center;
  }
}